name: Gradle Publish

on:
  release:
    types: [created]

permissions:
  contents: read
  packages: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: List gradle wrapper directory
        run: ls -la gradle/wrapper

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build and publish
        run: ./gradlew publishMavenJavaPublicationToGithubRepository
        env:
          GITHUB_USERNAME: ${{ secrets.GITHUB_USERNAME }}  # Your GitHub username or organization name
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}       # This is the GitHub token
